*{
  margin: 0;
  padding: 0;
}
.cent{
  display:grid;
  place-items: center;
}
.cont{
  width:300px;
  
}
.headg{
  height: 500px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding:50px 50px;
  
}

.headgs{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding:100px 50px;
  background:rgba(0, 0, 0, 0.15);
}
.appg{
  display:grid;
  place-items: center;
}

.ani{
  font-weight: 100;
  letter-spacing: 5px;
}
.cont2{
  padding:30px 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.nav{
  display:flex;
  flex-direction: row;
}
.mar{
  margin-left:50px ;
}

.bg-dark{
  color:white;
  background-color:black;
}

.footer{
  display:flex;
  justify-content:center;
  margin:10px;
  padding:10px;
  background:rgba(0,0,0,.05);
}

.contflx{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.contflx div{
  margin:50px;
}



